@import '../../../../styles/buttons';
@import '../../../../styles/typography';


section {
  padding: 5% 12% 0;
}

.home {
  padding: 100px 12% 20px;
  background: url('../../../../assets/home-background.png') no-repeat center center;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: center;
  min-height: 100vh;
}

.home-text {
  max-width: 100%;

  h3 {
    font-size: var(--font-xx-large);
    color: var(--accent-color);
    margin: 0;

    span {
      color: black;
      background-color: var(--primary-color);
      font-size: var(--font-xxxx-large);
      padding: 0 1.5rem;
    }
  }

  h1 {
    font-size: var(--font-xxx-large);
    margin-top: 1rem;
  }

  .shop-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 2rem;
  }
}

h2 {
  font-size: 4rem;
  margin-bottom: 5%;
}

.about-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  text-align: justify;
  padding-bottom: 50px;

}


@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    padding: 80px 8% 20px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
