<section class="home">
  <div class="home-text">
    <h3><span>SHOP NAME</span></h3>
    <h1>Shop. Smile. Repeat.</h1>
    <a href="#new-products" class="shop-btn">Products</a>
  </div>
</section>

<section id="new-products">
  <h2>New Products</h2>
  <app-new-products></app-new-products>
</section>

<section class="categories">
  <h2><span>Categories</span></h2>
  <app-categories></app-categories>
</section>

<section id="about-us">
  <h2>About Us</h2>
  <div class="about-container">
    <div class="about-text">
      <p>
        "What started as a simple idea has grown into a passionate journey. Founded with a vision to bring quality, convenience, and innovation together, we are more than just a brand—we are a community. Our mission is to provide products that inspire, services that make life easier, and an experience that feels personal. Every detail matters to us because we believe in delivering excellence, one step at a time. Welcome to our story—where passion meets purpose."
      </p>
    </div>
  </div>
</section>
