<section class="home">
  <div class="home-text">
    <h3><span>SWIFT-CART</span></h3>
    <h1>Shop. Smile. Repeat.</h1>
    <a href="#new-products" class="shop-btn">Products</a>
  </div>
</section>

<section id="new-products">
  <h2>New Products</h2>
  <app-new-products></app-new-products>
</section>

<section id="categories" class="categories">
  <h2><span>Categories</span></h2>
  <app-categories></app-categories>
</section>

<section id="about-us">
  <h2>About Us</h2>
  <div class="about-container">
    <div class="about-text">
      <p>
        Welcome, where quality meets convenience! We are passionate about providing top-notch products that cater to your needs, style, and lifestyle. Whether you’re looking for the latest trends, must-have essentials, or unique finds, we’ve got you covered.

Our journey began with a simple mission: to create a seamless shopping experience that blends trust, affordability, and innovation. We work with trusted suppliers, ensure high-quality standards, and prioritize customer satisfaction above all else.
      </p>
    </div>
  </div>
</section>
