<div class="login-container">
    <div class="login-form">
      <h1>Login to Your Account</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-box">
        <div class="form-control">
          <label for="loginEmail">Email:</label>
          <input
            type="text"
            id="loginEmail"
            name="credential"
            formControlName="username"
            placeholder="Email or Username"
            required
          />
          <span class="error-message" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">
            <span *ngIf="loginForm.get('username')?.errors?.['required']">Email is required</span>
          </span>
        </div>
  
        <div class="form-control">
          <label for="loginPassword">Password:</label>
          <input
            type="password"
            id="loginPassword"
            name="password"
            formControlName="password"
            placeholder="********"
            required
          />
          <div class="message-container">
            <span class="error-message" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
              <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password should be at least 8 characters long.</span>
            </span>
            <span class="error-message" *ngIf="isLoginFail">Email or password is incorrect.</span>
          </div>
        </div>
  
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
  
      <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
    </div>
  </div>
  