<div class="login-form">
    <h1>Login To Your Account</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-control">
        <label for="email">Email: </label>
        <input
          type="text"
          id="loginEmail"
          name = "credential"
          formControlName="username"
          placeholder="Email or Username"
          required
        />
        @if (username?.invalid && (username?.touched || username?.dirty)) {
          <span class="error-message">
            @if (username?.errors?.['required']) {
              Email is required
            }
          </span>
        }
      </div>
  
      <div class="form-control">
        <label for="password">Password: </label>
        <input
          type="password"
          id="loginPassword"
          name="password"
          formControlName="password"
          placeholder="********"
          required
        />
        <div class="message-container">
          @if (password?.invalid && (password?.touched || password?.dirty)) {
            <span class="error-message">
              @if (password?.errors?.['required']) {
                Password is required
              }
            </span>
          }
          @if (password?.errors?.['minlength']) {
            <span class="error-message"
              >Password should be at least 8 characters long.</span
            >
          }
          @if (isLoginFail) {
            <span class="error-message"> Email or password is incorrect.</span>
          }
        </div>
      </div>
  
      <div class="form-control">
        <button type="submit" [disabled]="loginForm.invalid" (click)="onLogin()">Login</button>
      </div>
    </form>
    <p>Don't have an account?
      <a routerLink="/signup" >Sign up here</a>
    </p>
    
  </div>