:root {
    --primary-color: #bffff9;
    --secondary-color: #2c2f2c;
    --accent-color: #ffafcc;
    --background-color: #ecf0f1;
    --text-color: #000000;
    --btn-hover-color: #ffc8dd;
    --btn-click-color: #cdb4db;
    --drop-shadow-color: rgba(184, 184, 184, 0.2);
    --border-color: #868686;
    --warm-background-color: #f5f1f2;
  }
