:root {
    --primary-color: #7766a2;
    --secondary-color: #2c2f2c;
    --accent-color: #afcaff;
    --background-color: #faf6ff;
    --text-color: #000000;
    --btn-hover-color: #8ab1fd;
    --btn-click-color: #cdb4db;
    --drop-shadow-color: rgba(184, 184, 184, 0.2);
    --border-color: #868686;
    --warm-background-color: #f5f1f2;
  }
