@use '@angular/material' as mat;
@use 'colors' as *;
@use  'buttons' as *;
@use 'typography' as *;
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

@import './colors';
@import './buttons';
@import './typography';



html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  background-color: var(--background-color); 
}
* {
    margin: 0;
    font-family: 'DM Sans', 'Inter', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.6;
  }

html, body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  overflow-x: hidden; 
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
  }

  .flex {
    flex-direction: column;
  }

  .btn {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 98%;
  }

  .btn {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

  
