<div class="signup-form">
  <h1>Signup</h1>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="firstName">First Name: </label>
      <input type="text" id="firstName" formControlName="firstName" required />
      <div *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
        <span class="error-message">First name is required</span>
      </div>
    </div>

    <div class="form-control">
      <label for="lastName">Last Name: </label>
      <input type="text" id="lastName" formControlName="lastName" required />
      <div *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched">
        <span class="error-message">Last name is required</span>
      </div>
    </div>

    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" id="emailAddress" formControlName="email" placeholder="Email" required />
      <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
        <span class="error-message" *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required</span>
        <span class="error-message" *ngIf="signUpForm.get('email')?.errors?.['email']">Please use a valid email</span>
      </div>
    </div>

    <div class="form-control">
      <label for="password">Password: </label>
      <input type="password" id="userPassword" formControlName="password" placeholder="********" required />
      <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
        <ul class="error-message">
          <li *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</li>
          <li *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</li>
          <li *ngIf="signUpForm.get('password')?.errors?.['pattern']">Password must contain uppercase, lowercase, number, and special character</li>
        </ul>
      </div>
    </div>

    <div class="form-control">
      <button type="submit" [disabled]="signUpForm.invalid">Signup</button>
    </div>
  </form>

  <p>Already have an account?
    <a routerLink="/login">Login here</a>
  </p>
</div>
