@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:host {
    background: linear-gradient(135deg, #ffdde1, #ee9ca7, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.auth-box {
    background: var(--background-color);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 3rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  h1 {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
    margin-top: 1rem;
    
    a {
      color: var(--text-color);
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  text-align: left;

  label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 6px;
    display: block;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    transition: all 0.3s ease;
    color: black;
    font-weight: 500;
    border-color: black;

    &::placeholder {
      color: black;
      font-weight: 300;
    }

    &:focus {
      border-color: black;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
    }
  }
}

button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--accent-color);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 175, 204, 0.4);
  }

  &:disabled {
    background: wheat;
    cursor: pointer;
  }
}

.message-container {
  width: 100%;
  text-align: center;
}

.error-message {
  color: #ff5757;
  font-size: 0.85rem;
  max-width: 100%;
  font-weight: bold;
}

a {
  color: #009ffd;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #80d0ff;
  }
}

@media (max-width: 600px) {
  .login-form {
    padding: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 12px;
  }
}
