.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  .nav-left {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      img {
        height: 50px;
        width: auto;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      li {
        a {
          text-decoration: none;
          font-size: 1rem;
          color: #333;
          font-weight: 600;
          transition: color 0.3s ease;

          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
  }

  .nav-center {
    position: absolute; 
  left: 50%;
  transform: translateX(-50%);

    .shop-name {
      font-size: 1.8rem;
      font-weight: bold;
      align-items: center;
      text-transform: uppercase;
      color: #222;
      letter-spacing: 1px;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    a {
      font-size: 1.5rem;
      color: #333;
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-color);
        cursor: pointer;
      }
    }

    .menu-toggle {
      display: none;
      background: none;
      border: none;
      font-size: 1.8rem;
      color: #333;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 100vw;

    .nav-left {
      flex-direction: column;
      width: 100%;

      .nav-links {
        display: none; 
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
      }
    }

    .nav-right {
      margin-top: 1rem;
      width: 100%;

      .menu-toggle {
        display: block;
      }
    }
  }

  .nav-links.active {
    display: flex;
  }
}
