  .title {
  display: flex;
  margin: 2rem 1rem;
  position: absolute;
  font-size: var(--font-large);
  font-weight: 700;
  color: white;
  text-align: center;
  bottom: 0;
  align-items: center;

  a {
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: rgba($color: black, $alpha: 0.5);
    transition: all 0.3s ease;
    display: inline;
    &:hover {
      cursor: pointer;
      color: black;
      background-color: var(--primary-color);
      }
    }
}

mat-grid-list {
  margin-top: 5rem;
}

mat-grid-content {
  .tile-content {
    max-height: 100%;
    position: relative;
    padding: 0.5rem;
    overflow: hidden; 
  }
}

  